@import "antd/dist/antd.css";
@import "./pages/login.scss";
@import "./pages/register.scss";
@import "./pages/user_layout.scss";
@import "./layouts/admin_layout.scss";
//
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "~react-image-gallery/styles/scss/image-gallery.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.ant-layout-sider-children .logo {
  height: 64px;
  padding: 1rem;
  // background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.button-event {
  cursor: pointer;
}

.button-action {
  cursor: pointer !important;
  margin-right: 10px !important;
  transition: all 0.3s ease-in-out !important;

  //
  &:hover {
    color: #ff4d4f !important;
  }
}


.element-link {
  cursor: pointer;
  color: blue;

  &:hover {
    color: #ff4d4f;
    text-decoration: underline;
  }
}


.one-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}